#lang reader "main.rkt"
game Pong {
    canvas 600x400
    entity ball {
        size 12
        color red
        picture circle
        velocity (4 3)
        bounce-off yes
    }
    entity left-paddle {
        size 25
        color blue
        picture square
        speed 8
        controls [w up s down]
        position(50 200)
        }
    entity right-paddle {
        size 25
        color green
        picture square
        speed 8
        controls [up up down down]
        position(550 200)
    }
}
play Pong